<a href="https://colab.research.google.com/github/aij3113/Finite_Automata_Lab/blob/main/Finite_Automata_Lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Basics**

In [ ]:
  print('Welcome to Automata Lab with Python. \n')

  age = 25 # Number data type: int
  salary = 35000.256 # Numbe data type: float
  name = 'Sakib' # String

  #display the type of data

  print(type(age), type(salary), type(name))
  
  print('\n\n')

  print('Mr ',name,' is ',age,' years old.')

Welcome to Automata Lab with Python.

<class 'int'> <class 'float'> <class 'str'>



Mr  Sakib  is  25  years old.

In [ ]:
  # how to get user input
  '''  multiline comment
  n = input('Enter a number: ')
  print(type(n))

  
  n=int(n) # type casting 
  print(type(n))
  '''


  fname = input('Enter First Name: ')
  lname = input('Enter Last Name: ')
  fname = fname + ' ' + lname  #Concatenation (+)

  print('You are Mr. ', fname)

Enter First Name: A I
Enter Last Name: Joy
You are Mr.  A I Joy

In [ ]:

'''
# Basic Data type
Number: int, float, complex
string
list
'''
a,b,c = 132,'Sakib',20j
print(type(a),type(b),type(c))

list1 = [10,20,30,40j, 'Salman'] # list in python: is like Array
print(list1)
print(type(list1))

<class 'int'> <class 'str'> <class 'complex'>
[10, 20, 30, 40j, 'Salman']
<class 'list'>

***--Indentation in Python--***

In [ ]:
# Python identation required in followings

'''
=> if-else condition 
=> Looping: for loop and while loop
=> Function: def()

'''''
''''''
''''
'''

'''
Identation in c++

if(n%2==0){
  .......
  .......
  .......
}


'''

# If else in python.
var = int ( input('Enter a number: '))

if var%2==0:
  print(var,' is even')
else:
  print(var, 'is odd')

Enter a number: 1000
1000  is even

In [ ]:
#Nested if-else

foodItem = int( input('Enter food Item no: '))

if foodItem == 101:
  print('Your order is Pizza.')
elif foodItem == 102:
  print('Your order is Sandwich.')
elif foodItem == 102:
  print('Your order is Burger.')
elif foodItem == 102:
  print('Your order is Biriyani.')
else:
  print('Invalid Input !!.')

Enter food Item no: 102
Your order is Sandwich.

In [ ]:
# Multiple Conditions...

country = input('Country: ')
age = int(input('Enter age: '))

if country == 'USA' and age>=25:
  print('You are Allowed')
elif country =='UK' or age>20:
  print('You are allowed')
else:
  print('You are not Allowed')

Country: UK
Enter age: 1
You are allowed

**Loop in Python**

In [ ]:
# while loop

i = 0
while i<10:
  if i>5:
    break
  print(i, end=' ')
  i+=1

0 1 2 3 4 5

In [ ]:
# For loop in Python

for i in range(0,10,1):
  print(i,end=' ')

print('\n\n')

for i in range(10,0,-1):
  print(i,end=' ')

print('\n\n')

for i in range(10):
  print(i,end=' ')

print('\n\n')

for i in range(2,10):
  print(i,end=' ')

print('\n\n')

for i in range(2,10,3):
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9


10 9 8 7 6 5 4 3 2 1


0 1 2 3 4 5 6 7 8 9


2 3 4 5 6 7 8 9


2 5 8

Nested For Loop

In [ ]:
import math
for i in range(10,101):
  flag = 1
  for j in range(2, int(math.sqrt(i))+1 ):
    if i % j == 0:
      flag = 0
      break
  if flag == 1:
    print(i, end = ' ')

11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

List and Dictonary

In [ ]:
batsman = ['Sakib','Tamim','Mushfiq']
average = [35.63,32.19,33.56]

print(batsman)
print(average)

print('\n')

for i in batsman:   # for-each loop in python
  print(i)

print('\n')

for i in range(len(average)):
  if average[i]>=35:
    print(batsman[i], ' has better average.')

['Sakib', 'Tamim', 'Mushfiq']
[35.63, 32.19, 33.56]


Sakib
Tamim
Mushfiq


Sakib  has better average.

In [ ]:
# Dictionary

allRounder = {
    'name' : 'Sakib',
    'Country' : 'BD',
    'Total-Runs' : 7000,
    'Total-Wickets' : 350,
    'Highest-Runs' : 201 
}

print(allRounder)
print('\n')

print(allRounder['name'], 'has a total of ',allRounder['Total-Runs'],' runs.')
print('\n')

list1 = [allRounder,[1,2,3],25j,34.5,'cricket']
print(list1)
print('\n')
print(type(list1))
print(type(list1[0]))
print(type(list1[1]))
print(type(list1[2]))
print(type(list1[3]))
print(type(list1[4]))

{'name': 'Sakib', 'Country': 'BD', 'Total-Runs': 7000, 'Total-Wickets': 350, 'Highest-Runs': 201}


Sakib has a total of  7000  runs.


[{'name': 'Sakib', 'Country': 'BD', 'Total-Runs': 7000, 'Total-Wickets': 350, 'Highest-Runs': 201}, [1, 2, 3], 25j, 34.5, 'cricket']


<class 'list'>
<class 'dict'>
<class 'list'>
<class 'complex'>
<class 'float'>
<class 'str'>

Function in Python...

In [ ]:

def create_full_name(fname,lname):
  full_name = fname+ ' ' + lname

  return full_name

fname = 'Tamim'
lname = 'Iqbal'

full_name = create_full_name(fname,lname)

print('Hello Mr. ',full_name)

Hello Mr.  Tamim Iqbal

In [1]:

def factorial(n):
  if n==0:
    return 1

  else:
    return n*factorial(n-1)


while True:
  n = int(input('Enter a number to calculat factorial: '))

  if n==0:
    break
  
  
  fact = factorial(n)
  print('Factroial of ',n,' is ',fact)
  print(len(str(fact)))

Enter a number to calculat factorial: 0